.s-item {
    height: 300px;
    width: 80%;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
}

.s-item:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px 8px #d0d0d0;
}

.s-item::selection {
    border-style: solid;
}