.cp-item {
    width: 100%;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    padding: 10px;
    margin: 5px;
}

.cp-item:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px 8px #d0d0d0;
}

.cp-item::selection {
    border-style: solid;
}

.cp-title {
    margin: 0;
    text-align: center;
}

.cp-desc{
    margin: 0;
    text-align: center;
    font-size: medium;
}

.cp-all {
    margin-top: 3px;
}
