awscli==1.22.40
boto3==1.20.40
botocore==1.23.40
click==8.0.3
colorama==0.4.3
distlib==0.3.4
docutils==0.15.2
filelock==3.4.2
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
platformdirs==2.4.1
pyasn1==0.4.8
python-dateutil==2.8.2
PyYAML==5.4.1
rsa==4.7.2
s3transfer==0.5.0
six==1.16.0
urllib3==1.26.8
virtualenv==20.13.0
Werkzeug==2.0.2
