.h {
    padding: 20px;
    height: 92vh;
    background-color: #EEEEEE;
}

.h-progress {
    height: 250px;
    padding-bottom: 10px;
}

.h-basic-info {
    height: 100%;
}

.h-progress-circular-all {
    text-align: center;
    margin-top: 20px;
}

.h-select-project {
    height: 50px;
}

.h-row0 {
    margin-top: 30px;
    max-height: 50px;
}

.h-row1 {
    height: 200px;
}

.h-enddate {
    height: 250px;
}