.cts-box {
    min-height: fit-content;
    margin-right: 5px;
}

.cts-container {
    min-height: 80vh;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 25px;
    /* background-color: black; */
}